.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    grid-template-rows: repeat(3, 150px) 50px 50px;
}
.grid-box{
    background-color: rgb(57, 95, 127);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    padding: 8px;
    border-radius: 5px;
}
.grid-box1{
    grid-row: span 5;
    border: 3px solid red;
}
#grid-11, #grid-12{
    grid-column: span 3;
}

/* Small Device media query*/

@media screen and (max-width: 576px){
    .grid{
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(6, 150px);
    }
    .grid-box1{
        grid-row: span 1;
    }
    #grid-11, #grid-12{
        grid-column: span 1;
    }
}

/* Medium Device Media query */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .grid{

    }
    .grid-box1{
        grid-row: span 3;
    }
    #grid-11, #grid-12{
        grid-column: span 4;
    }
}

/* Made this grid more responsive for small device, medium device and large device */
